<div class="main">
  <div class="container">
    <div class="logo">
      S<span>G</span>E<span>I</span>
    </div>
    <p class="description">
      ¡Bienvenido al Sistema de Pago del Estacionamiento Inteligente!
    </p>
    <div class="icons">
      <mat-icon class="access-denied-icon" fontIcon="lock"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="credit_card"></mat-icon>
    </div>
    <div class="button-pay">
        <button mat-raised-button color="primary" (click)="pagar()">Pagar</button>
    </div>
  </div>
</div>
